<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap" rel="stylesheet">
</head>
<body>

    <h1>ToDo List</h1>
    <div class="container">

    <% for(task of tasks){ %>

        <div class="task">
            <h3><%= task.task %></h3>
            <form action="/task/<%=task.id%>?_method=DELETE" method="DELETE">
                <button>Delete</button>
            </form>
        </div>

        <% } %>

        <br><br>
        <a href="/task/new">Add New Task</a>
    </div>

    <script src="/script.js"></script>

    
</body>
</html>